<form id='instagram-form' action='/collection' method='post'>
	<input type='text' name='request[hashtag]' />
	<input type='date' name='request[start_date]' />
	<input type='date' name='request[end_date]' />
	<input type='submit'>
</form> 

<% if @data %>
	<% @data.each do |tag| %>
		<p><%= tag.hashtag%> - <%=tag.posts.count%> entries</p>
	<% end %>
<% end %>