

<%= render '/form', caption: 'Scrape Instagram', method: 'post'  %>
<%= render '/form', caption: 'Search Locally', method: 'get'  %>

<% if @data %>
	<% @data.each do |tag| %>
		<p><%= tag.hashtag%> - <%=tag.posts.count%> entries</p>
	<% end %>
<% end %>