.carousel-control.left, .carousel-control.right {
  background: none;
  background-image: none;
  outline: 0;
  opacity: 1;
 }

 .carousel-control.left {
 	color: black;
 	left: -15%;
 }

 .carousel-control.right {
 	color: black;
 	left: 100%;
 }

 .carousel-caption h5{
 	color: black
}

.carousel-item img {
	margin: auto;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}