<form id='instagram-scrape-form' action='/collection' method='<%=method%>'>
	<h1><%=caption%></h1>
	<input type='text' name='request[hashtag]' />
	<input type='date' name='request[start_date]' />
	<input type='date' name='request[end_date]' />
	<input type='submit'>
</form>